.root {
  background: linear-gradient(119.13deg, #425fcd 19.36%, #2b53e8 84.88%);
  overflow: hidden;
  .container {
    display: flex;
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 950px) {
      justify-content: center;
    }
    .loginFormWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #181818;
      height: calc(100vh - 100px);

      .loginForm {
        display: flex;
        flex-direction: column;
        padding: 186px 50px 186px 50px;
        justify-content: center;
        align-items: center;
        width: 100%;

        .heading {
          h1 {
            font-style: normal;
            font-weight: 900;
            font-size: 35px;
            line-height: 53px;
            text-align: center;
            color: #ffffff;
          }
        }

        .socials {
          display: flex;
          gap: 35px;
          margin-top: 20px;
          img {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
        .form {
          display: flex;
          flex-direction: column;
          margin-top: 32px;
          align-items: center;
          width: 100%;

          .useEmail {
            text-decoration: none;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #979797;
            margin-bottom: 15px;
          }
          .inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;

            .loginInput {
              width: 100%;
              height: 60px;
              background: #fff9f9;
              border-radius: 5px;
              .loginInputContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                img {
                  width: 21px;
                  height: 16px;
                }
                input {
                  outline: none;
                  border: none;
                  width: 100%;
                  height: 100%;
                  background-color: inherit;
                  margin-left: 16px;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 15px;
                  color: #181818;
                }
              }
            }
            .passwordInput {
              width: 100%;

              height: 60px;
              background: #fff9f9;
              border-radius: 5px;

              .passwordInputContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                img {
                  width: 19px;
                  height: 24px;
                }
                input {
                  outline: none;
                  border: none;
                  width: 100%;
                  height: 100%;
                  background-color: inherit;
                  margin-left: 16px;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: 15px;
                  color: #181818;
                }
              }
            }
          }
          .forgotPass {
            margin-top: 15px;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #ffffff;

            hr {
              width: 142px;
              height: 0px;
              border: 1px solid #979797;
            }
          }

          .loginBtn {
            margin-top: 30px;
            width: 150px;
            height: 50px;
            background-color: transparent;
            border: 2px solid #ffffff;
            border-radius: 5px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }

    .designPart {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      margin-top: 45px;
      .stars {
        top: 45px;
      }
      .people {
        position: absolute;
        width: 500px;
        bottom: 0;

        @media (max-width: 1080px) {
          width: 400px;
        }
        @media (min-height: 1080px) {
          width: 700px;
        }
      }
      @media (max-width: 950px) {
        display: none;
      }
    }
  }
}
