body {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  width: 100%;
  height: calc(100vh - 100px);

  @media (max-width: 1420px) {
    height: calc(100vh - 100px);
  }
  .bgImg {
    position: absolute;
    bottom: 0;
    right: 0;
    @media (max-width: 1420px) {
      width: 400px;
    }
  }
  .scrollImg {
    position: absolute;
    bottom: 40px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 4444;

    &:hover {
      opacity: 0.5;
    }
  }
  .container {
    width: 1140px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .stars {
      position: absolute;
      margin-left: 150px;
      z-index: 0;
    }

    .texts {
      width: 80%;
      height: 80%;
      position: relative;
    }
    @media (max-width: 1420px) {
      .container {
        width: 1000px;
        height: 500px;
      }
    }

    .heading {
      width: 822px;
      height: 80px;
      h1 {
        font-size: 80px;
        font-weight: 800;
        letter-spacing: 5%;
        color: #181818;

        @media (max-width: 1420px) {
          font-size: 60px;
        }
      }
    }
    .description {
      width: 686px;
      height: 170px;
      margin-top: 37px;
      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: 5%;
        @media (max-width: 1420px) {
          font-size: 19px;
        }
      }
    }
    .button {
      margin-top: 30px;

      button {
        background-color: #181818;
        outline: none;
        border: none;
        width: 150px;
        height: 60px;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #181818d0;
        }
      }
    }
  }
}
