.slide:hover {
  box-shadow: inset  10em 0 0 0 var(--hover);
}

$colors: (
  slide: #ea552b,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 1deg)};
  }
}

.slide {
  transition: 0.25s;

  &:hover {
    border-color: var(--hover);
    color: #fff;
  }
}
