.root {
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 119px);
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @media (max-width: 1500px) {
    min-height: calc(100vh - 100px);
  }
  @media (max-width: 1160px) {
    width: 90%;
  }
  @media (max-width: 450px) {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 1035px;
    min-height: 500px;
    background: url('../../../assets/images/Pages/Home/intro/stars.png');
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    @media (max-width: 960px) {
      background: url('../../../assets/images/Pages/Home/intro/small-screen-stars.png');
      background-repeat: no-repeat;
      background-position: left;
      background-position-y: -10px;
      align-items: center;
      margin-top: 0px;
    }

    @media (max-width: 850px) {
      flex-direction: column;
    }

    .scroll {
      position: absolute;
      bottom: 30px;
      right: 555px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: 0.4;
      }

      @media (max-width: 960px) {
        bottom: 30px;
        right: initial;
      }
    }
    .people {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 530px;
      height: 430px;

      @media (max-width: 1500px) {
        width: 480px;
        height: 400px;
      }
      @media (max-width: 1160px) {
        width: 400px;
        height: 320px;
      }
      @media (max-width: 960px) {
        margin-top: 130px;
        position: static;
        z-index: 3;
      }
      @media (min-height: 1180px) {
        margin-top: 100px;
        width: 600px;
        height: 490px;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 98px;
        color: #181818;
        margin: 0;

        @media (max-width: 1500px) {
          font-size: 70px;
          word-spacing: 9%;
        }
      }

      p {
        margin: 0;
        margin-top: 20px;
        width: 623px;
        height: 170px;
        font-weight: 600;
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 0.05em;
        color: #181818;

        @media (max-width: 1500px) {
          font-size: 17px;
          word-spacing: 5.5%;
          line-height: 38.5px;
        }
        @media (max-width: 1160px) {
          width: 500px;
        }
      }
      @media (max-width: 960px) {
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 60px;
        }
        p {
          height: fit-content;
          width: 610px;
        }
      }

      @media (max-width: 850px) {
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 60px;
        }
        p {
          width: 90%;
        }
      }
      @media (max-width: 450px) {
        margin-left: 0;
        h1 {
          font-size: 45px;
        }
      }
      button {
        margin-top: 20px;
        width: 150px;
        height: 60px;
        background: #181818;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        span {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #e8e8e8;
        }
        @media (max-width: 960px) {
          margin-top: 20px;
        }
      }
      @media (max-width: 450px) {
        margin-left: -20px;
        width: 90%;
      }
    }
  }
}
